<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <nav class="navbar">

    <a class="logo" th:href="@{/}">
        Lista de Tareas
    </a>

    <div class="enlaces">

        <a th:href="@{/}">
            Inicio
        </a>

        <a th:href="@{/tareas}">
            Mis tareas
        </a>

    </div>

</nav>

   <div class="contenedor">

    <h1>BIENVENIDO A LA LISTA DE TAREAS</h1>

    <div class="formulario">

        <p>Administra tus tareas de forma sencilla.</p>

        <a th:href="@{/tareas}">Ir a mis tareas</a>

    </div>

</div>

</body>
</html>